$primary: #ffd700;
$secondary: #9951ff;
$light: #faf7ff;
$dark: #6900ff;

$font-family-sans-serif: "Montserrat", sans-serif;
$headings-font-family: "Comfortaa", sans-serif;
$headings-font-weight: 700;
