@import "~bootstrap/scss/mixins";
@import "variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

html,
body,
#root {
  min-height: 100%;
  height: 100%;
}

.page {
  height: calc(100% - 185px);
}

// .full-height {
//   height: 100vh;
// }
